body {
  background-color: lightgray;
  font-family: arial;
}
table {
  text-align: center;
}
p {
  text-align: center;
}

h1{
  font-size : 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
th {
  background-color: pink;
}
.judul {
  background-color: salmon;
}
.ubah {
  background-color: springgreen;
}
.hapus {
  background-color: red;
}
.tambah {
  background-color: gold;
}
